<div class="contacto" id="cont">
    <div id="blancos"></div>
    <h3>Contacto</h3>
</div>
<div class="c" id="contacto">
    <div class="row1">
        <ul class="ul-container">
            <li class="li"><i class="fa-solid fa-envelope"></i><p>{{persona.mail}}</p></li>
            <li class="li"><i class="fa-solid fa-phone"></i><p>{{persona.telefono}}</p></li>
        </ul>
    </div>
    <div class="row2">
        <ul class="ul-container">
            <li class="li"><i class="fa-solid fa-location-dot"></i><p>{{persona.ubicacion}}</p></li>
            <a href="https://drive.google.com/file/d/1AHxgj_lfc3GXQFWQKnBUxZLdhKpETJeB/view?usp=sharing"><li class="li" id="cv"><i class="fa-solid fa-file"></i><p>CV</p></li></a>
        </ul>
    </div>
</div>
<div class="franja">
    <div class="img">
        <a href="https://argentinaprograma.inti.gob.ar/"><img src="../../../assets/argPrograma.png"></a>
    </div>
    <div class="copy">
        <li><i class="fa-regular fa-copyright"></i><p>2023 Copyright - Kevin Abel Castillo - Argentina Programa</p></li>
    </div>
</div>