<div class="nav_li-container">
    <ul class="ul-container">
        <li class="nav_responsive-li"><i class="fa-solid fa-address-card"></i><a href="#sobremi" (click)="menu.tocarMenu()">Sobre mi</a>
        </li>
        <li class="nav_responsive-li"><i class="fa-solid fa-code"></i><a href="#skills"(click)="menu.tocarMenu()">Habilidades</a></li>
        <li class="nav_responsive-li"><i class="fa-solid fa-terminal"></i><a href="#proyectos"(click)="menu.tocarMenu()">Proyectos</a></li>
        <li class="nav_responsive-li"><i class="fa-solid fa-book"></i><a href="#educacion"(click)="menu.tocarMenu()">Educacion</a></li>
        <li class="nav_responsive-li"><i class="fa-solid fa-briefcase"></i><a href="#experiencia"(click)="menu.tocarMenu()">Experiencia</a></li>
        <li class="nav_responsive-li"><i class="fa-solid fa-phone"></i><a href="#contacto"(click)="menu.tocarMenu()">Contacto</a></li>
        <li class="nav_responsive-li"><i class="fa-brands fa-linkedin"></i><a href="{{persona.linkedin}}" (click)="menu.tocarMenu()">Linkedin</a>
        </li>
        <li class="nav_responsive-li"><i class="fa-brands fa-github "></i><a href="{{persona.github}}"(click)="menu.tocarMenu()">Github</a></li>
    </ul>
    <div class="raya-container">
        <div class="raya"><i class="fa-solid fa-horizontal-rule" (click)="menu.tocarMenu()"></i></div>
    </div>
</div>