
.c {
    background-color: rgb(30, 43, 57);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    box-shadow: 2px 3px 15px 0 #000;

}
.ul-container{
    display: flex;
    align-self: center;
    height: 68px;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav_responsive-ul {
    display: none;
}

.nav_li {
    display: inline-block;
    padding: 9px;
    color: #fff;
}

.nav_li:hover>a {
    color: #bbb;
    cursor: pointer;

}

.nav_li:hover {
    color: #bbb;
    cursor: pointer;
}
.nav_ul{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.n {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav_li a {
    color: #fff;
    text-decoration: none;
}

.nav_li i {
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}
.responsive-div {
    display: none;
}
.div-button{
    display: flex;
    margin-right: 20px;
}
.div-button button{
    border: none;
    color: #fff;
    cursor: pointer;
    height: 45px;
    background-color: rgb(62, 182, 187);
    border-radius: 15px;
    font-size: 16px;
}
.div-button:hover > button{
    background-color: rgb(47, 201, 206);
    box-shadow: 2px 3px 10px 0 #000;
}
@-webkit-keyframes bounce {
    from, 20%, 53%, 80%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%, 43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  @keyframes bounce {
    from, 20%, 53%, 80%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%, 43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
@media only screen and (max-width: 1100px) {
    .ul-container{
        display: none;
    }
    .c {
        background-color: rgb(30, 43, 57);
        height: 68px;
        width: 100%;

    }
    .n{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }
    .responsive-div {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        border-radius: 15px;

    }
    .responsive-div:hover{
        box-shadow: 2px 3px 10px 0 #000;
        color: #bbb;
    }
    .responsive-div i {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        font-size: 25px;
        color: #fff;
    }
    .responsive-div i:hover,  .responsive-div p:hover{
        color: #bbb;
    }
    .responsive-div p{
        color:#fff;
        font-size: 16px;
    }
    .nav_ul {
        display: none;
    }
    .div-button{
        display: flex;
        margin-right: 20px;
    }
    .div-button button{
        border: none;
        color: #fff;
        cursor: pointer;
        height: 45px;
        background-color: rgb(62, 182, 187);
        border-radius: 15px;
        font-size: 16px;
    }
    .div-button:hover > button{
        background-color: rgb(47, 201, 206);
        box-shadow: 2px 3px 10px 0 #000;
    }
    p{
        margin-top: 15px;
        font-size: 20px;
    }
    
}