<div class="tarjeta">
    <div class="contenedor">
        <div class="form">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="label-container" id="primero">
                    <label for="nombre">Nombre del proyecto:</label>
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Ingrese el nombre del proyecto" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="label-container">
                    <label for="descripcion">Descripcion del proyecto:</label>
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Ingrese la descripcion del proyecto" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
                </div>
                <div class="label-container">
                    <label for="descripcion">URL del proyecto::</label>
                </div>
                <div class="input-container">
                    <input type="textarea"  placeholder="Ingrese la URL del proyecto" id="link" name="link" [(ngModel)]="link" required>
                </div>
                <div class="label-container">
                    <label for="img">Imagen del proyecto:</label>
                </div>
                <div class="input-container">
                    <input type="text"  placeholder="Ingrese la imagen del proyecto" id="img" name="img" [(ngModel)]="img" required>
                </div>
                <div class="submit-container">
                    <button id="submit">Agregar Proyecto</button>
                </div>
            </form>
        </div>
    </div>
</div>
