<div class="tarjeta">
    <div class="contenedor">
        <div class="form">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="label-container" id="primero">
                    <label for="nombreE">Nombre de la experiencia:</label>
                </div>
                <div class="input-container">
                    <input type="text"  placeholder="Ingrese el nombre de la Experiencia" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                </div>
                <div class="label-container">
                    <label for="descripcionE">Cargo de la experiencia:</label>
                </div>
                <div class="input-container">
                    <input type="textarea" placeholder="Ingrese el cargo de la experiencia" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                </div>
                <div class="label-container">
                    <label for="institucion">Nombre de la empresa:</label>
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Ingrese el nombre de la empresa" id="institucion" name="institucion" [(ngModel)]="institucion" required>
                </div>
                <div class="label-container">
                    <label for="fechaDesde">Fecha desde que se realizo la experiencia</label>
                </div>
                <div class="input-container">
                    <input type="text"  placeholder="Ingrese la fecha desde" id="FechaDesde" name="fechaDesde" [(ngModel)]="fechaDesde" required>
                </div>
                <div class="label-container">
                    <label for="fechaHasta">Fecha de finalizacion de la experiencia:</label>
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Ingrese la fecha hasta" id="fechaHasta" name="fechaHasta" [(ngModel)]="fechaHasta" required>
                </div>
                <div class="submit-container">
                    <button id="submit">Agregar Experiencia</button>
                </div>
            </form>
        </div>
    </div>
</div>
