<div class="tarjeta">
    <div class="contenedor">
        <div class="form">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="label-container" id="primero">
                    <label for="nombre">Nombre de la habilidad:</label>
                </div>
                <div class="input-container">
                    <input type="text" placeholder="Ingrese el nombre de la habilidad" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="label-container">
                    <label for="apellido">Selecciona el nivel de habilidad:</label>
                </div>
                <div class="input-container">
                    <input type="range" min="1" max="100" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                
                <div class="submit-container">
                    <button id="submit">Crear Habilidad</button>
                </div>
            </form>
        </div>
    </div>
</div>
